<div class="app">
  <div class="tree-source">
    <h2>Tree Source</h2>
    <ngx-file-drop dropZoneLabel="Drop JSON file here" (onFileDrop)="fileDropped($event[0])"
                   [multiple]="false" accept=".text,.json">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <p>Drop Text/JSON file here</p>
        <button type="button" (click)="openFileSelector()">Browse Files</button>
      </ng-template>
    </ngx-file-drop>
    <app-alert [message]="'File extension error: file extensions allowed: .text, .json'" [type]="alert.ERROR" *ngIf="error.fileType"></app-alert>
  </div>
  <div *ngIf="lastFiles.length > 0" class="last-used-files">
    <h3>Last used files:</h3>
    <table class="styled-table">
      <tr>
        <th>Filename</th>
        <th>File Content</th>
      </tr>
      <ng-container *ngFor="let lastFile of lastFiles">
        <tr>
          <td>{{lastFile.fileName}}</td>
          <td>{{lastFile.text}}</td>
          <td><button (click)="showBinTreeInCode(lastFile.text)">Use file</button></td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div style="width: 100%">
    <div class="tree-text">
      <h2>Tree Text</h2>
      <app-alert [message]="'Syntax Error: check the editor for errors (marked with red underlined)'" [type]="alert.ERROR" *ngIf="error.syntaxError"></app-alert>
      <app-alert [message]="'Property type error: check the entries of each object property'" [type]="alert.ERROR" *ngIf="error.entryTypeError"></app-alert>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
    <div class="output">
      <h2>Output</h2>
      <svg #svgContainer width="1" height="1"></svg>
    </div>
  </div>
</div>
